body{
    background: url(img/fondox.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 970px;

}
h1{
    color: white;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); 
}
a{
    color: white;
}

